<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>Hey there</h1>
                    <h3>Stay safe! Wash your hands often :) </h3>
                    <p class="about-paddingB">I started to work on this website when the infection count was around 280k
                        and now it has crossed 300k world wide at this moment ( 22 Mar 2020, 4:00 AM ). With the incerasing number, may be its time to take some good care and stay hygenic.</p>
                    <p class="about-paddingB">It was just my sole interest to build this website. May be it might let one track the situation and understand it in simple words.</p>
                    <p>All thanks to ( <a
                            href="https://rapidapi.com/astsiatsko/api/coronavirus-monitor/details">this</a> )  API provider who provides
                        realtime information about the coronavirus situation.
                        It monitors various resources and grab the most relevant information for you periodically. Some
                        endpoints gets information every minute, some other one time per 10 minutes.</p>

                    <div class="about-icons">
                        <p class="abount-paddingB">You can contact me on: </p>
                        <ul>
                            <li><a href="https://twitter.com/reyvanth06"><i id="social-tw"
                                        class="fa fa-twitter-square fa-3x social"></i></a> </li>
                            <li> <a href="https://github.com/reyvanth08"><i id="social-gp"
                                        class="fa fa-github fa-3x social"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>