<ngx-spinner
bdOpacity = 1
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-8bits"
[fullScreen] = "true"
>
<p style="color: white"> Did you wash your hands? </p>
</ngx-spinner>
<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-chart type="line" [data]="data" width="400" height="400"></p-chart> -->
<div class="container">
  <form class="example-form" id="search-form" class="text-center">
      <p class="mat-h2">Check statictics by country name: </p>
    <mat-form-field appearance="fill" >
      <mat-label style="color: black;">Enter here</mat-label>
      <input type="text"
            matInput
            placeholder="Country"
            [formControl]="myControl"
            [matAutocomplete]="auto"
            width="100%">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="countryStat($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="row  text-center" *ngIf="showData">
    <ng-container *ngFor="let res of results.latest_stat_by_country">
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">Statictics taken on</div>
            <div class="card-body">
                <h4 class="card-title text-center">{{ dateVal | date:'medium' }} </h4>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">Country</div>
            <div class="card-body">
                <h3 class="card-title text-center">{{res.country_name}} </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">Total Cases</div>
            <div class="card-body">
                <h3 class="card-title text-center"> {{res.total_cases}} </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">New Cases</div>
            <div class="card-body">
                <h3 class="card-title text-center" *ngIf="res.new_cases !== '' " > {{res.new_cases}} </h3>
                <h3 class="card-title text-center" *ngIf="res.new_cases === '' " > No new cases </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">Active Cases</div>
            <div class="card-body">
                <h3 class="card-title text-center" *ngIf="res.active_cases !== '' "> {{res.active_cases}} </h3>
                <h3 class="card-title text-center" *ngIf="res.active_cases === '' "> No active cases </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">Total Deaths</div>
            <div class="card-body">
                <h3 class="card-title text-center" *ngIf="res.total_deaths !== '' " > {{res.total_deaths}} </h3>
                <h3 class="card-title text-center" *ngIf="res.total_deaths === '' " > No new deaths </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">New Deaths</div>
            <div class="card-body">
                <h3 class="card-title text-center" *ngIf="res.new_deaths !== '' "> {{res.new_deaths}} </h3>
                <h3 class="card-title text-center" *ngIf="res.new_deaths === '' "> No new deaths </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">Total Recovered</div>
            <div class="card-body">
                <h3 class="card-title text-center" *ngIf="res.total_recovered !== '' "> {{res.total_recovered}} </h3>
                <h3 class="card-title text-center" *ngIf="res.total_recovered === '' "> No new recoveries </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">Critical</div>
            <div class="card-body">
                <h3 class="card-title text-center" *ngIf="res.serious_critical !== '' "> {{res.serious_critical}} </h3>
                <h3 class="card-title text-center" *ngIf="res.serious_critical === '' "> No such cases </h3>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-white bg-secondary  mb-3" style="max-width: 20em;">
            <div class="card-header text-center">Total Cases Per 1M</div>
            <div class="card-body">
                <h3 class="card-title text-center"> {{res.total_cases_per1m}} </h3>
            </div>
        </div>
      </div>
   </ng-container>
  </div> 
</div>

